 @import url('https://fonts.cdnfonts.com/css/games');
 @import url('https://fonts.cdnfonts.com/css/daydreamer-3');

 body {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 #root {
     padding-top: 40px;
     background-color: #541ebf;
     height: 1900px;
     /* width: 900px; */
     display: flex;
     flex-direction: column;
     /* justify-content: center; */
     align-items: center;
     --cell-size: 100px;
     --mark-size: calc(var(--cell-size) * .9);

 }

 .game-display {
     display: none;
     padding-bottom: 20px;

 }

 .game-board {
     margin: auto;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
     border: solid 5px #ffd652;
     background-color: #541ebf;
     width: 450px;
     height: 450px;
     /* border: 2px solid transparent; */
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);
     gap: 2px;
 }

 .cell {
     border: solid 1px white;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
     margin: 7px;
     background-color: #541ebf;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .cell.x::before,
 .cell.x::after,
 .cell.circle::before {
     background-color: #ff3f74;
 }

 .game-board.x .cell:not(.x):not(.circle):hover::before,
 .game-board.x .cell:not(.x):not(.circle):hover::after,
 .game-board.circle .cell:not(.x):not(.circle):hover::before {
     background-color: lightgrey;
 }

 .cell.x::before,
 .cell.x::after,
 .game-board.x .cell:not(.x):not(.circle):hover::before,
 .game-board.x .cell:not(.x):not(.circle):hover::after {
     content: '';
     position: absolute;
     width: calc(var(--mark-size) * .15);
     height: var(--mark-size);
 }

 .cell.x::before,
 .game-board.x .cell:not(.x):not(.circle):hover::before {
     transform: rotate(45deg);
 }

 .cell.x::after,
 .game-board.x .cell:not(.x):not(.circle):hover::after {
     transform: rotate(-45deg);
 }

 .cell.circle::before,
 .cell.circle::after,
 .game-board.circle .cell:not(.x):not(.circle):hover::before,
 .game-board.circle .cell:not(.x):not(.circle):hover::after {
     content: '';
     position: absolute;
     border-radius: 50%;
 }

 .cell.circle::before,
 .game-board.circle .cell:not(.x):not(.circle):hover::before {
     width: var(--mark-size);
     height: var(--mark-size);
 }

 .cell.circle::after,
 .game-boards.circle .cell:not(.x):not(.circle):hover::after {
     width: calc(var(--mark-size) * .7);
     height: calc(var(--mark-size) * .7);
     background-color: white;
 }





 .winning-message {
     display: none;
     height: 300px;
     display: block;
 }

 .GameDetailsModal {
     margin: auto;
     display: contents;
 }

 .GameDetailsModalHidden {
     display: none;
 }


 #formone {
     padding-top: 30px;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     background-color: #ffd652;
     margin: auto;
     height: 500px;
     width: 400px;
     border: 2px solid #ffd652;
     animation: slideFromLeft 3s;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
 }


 @keyframes slideFromLeft {
     0% {
         transform: translateX(100%);
     }

     100% {
         transform: translateX(0);
     }
 }

 #formone label {
     font-family: 'Daydreamer', sans-serif;
     font-size: 30px;

 }

 #formone input,
 #submit {
     border: transparent;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

 }

 #formone .playername {
     font-weight: 300;
     font-family: 'Daydreamer', sans-serif;
     font-size: 30px;
     /* border: transparent; */
     height: 40px;
     width: 180px;
     /* border-radius: 255px 15px 225px 15px/15px 225px 15px 255px; */
 }

 #submit {
     margin: 20px;
     width: 200px;
     height: 50px;
     border: transparent;
     font-weight: 300;
     font-family: 'Daydreamer', sans-serif;
     font-size: 30px;
 }

 .checkbox {
     border: transparent;
 }

 .colorChangebackground {
     background-color: #541ebf;
 }

 .button {
     margin: auto;
     width: 150px;
     height: 50px;
 }

 button {
     font-family: 'Daydreamer', sans-serif;
     font-size: 30px;
     /* margin: auto; */
     background-color: #ffd652;
     color: black;
     width: 150px;
     height: 50px;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

 }

 /* .choice {
     margin: auto;
     display: flex;
     flex-direction: column;
     width: 400px;
     height: 140px;
     border: solid 3px black;
     border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
     position: relative;
     animation: page-load 2s;
     margin-bottom: 10px;


 }

 .choice h3 {
     font-family: 'Games', sans-serif;
     font-size: 45px;
     text-align: center;
     padding-bottom: 0;
     margin-bottom: 0;
 }

 .choices {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
 }



 .choices h5,
 .choices h5 {

     font-size: 70px;
 }

 .x {
     color: #E1341E;
 }

 .o {
     color: #db24b5
 }


 @keyframes page-load {
     0% {
         transform: translateX(-100%);

     }

     100% {
         transform: translateX(0);

     }
 }*/